@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: #DFDFDF;
  font-family: 'Cormorant Garamond';

}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 10vw;
}

.header--logo {
  font-size: 3vw;
}

nav {
  align-items: center;
  display: flex;
  font-size: 1.8vw;
  font-weight: 600;
  justify-content: space-between;
  gap: 2vw;
}

.header--barraPesquisa { 
  display: flex;
}

.barraPesquisa--caixa {
  background-color: #ececec;
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  font-family: 'Cormorant Garamond';
  font-size: 1.2vw;
  height: 3vw;
  padding-left: 10px;
  width: 12vw;
}

.barraPesquisa--ícone {
  align-items: center;
  background-color: black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  display: flex;
  height: 3vw;
  justify-content: center;
  width: 3vw;
}

.barraPesquisa--ícone i {
  color: white;
  font-size: 1.2vw;
}

.hero {
  background-attachment: fixed;
  background-image: url(https://images.pexels.com/photos/3551227/pexels-photo-3551227.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vw;
}

.hero--bordas {
  background-image: url(../mídia/bordaHero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.hero--conteúdo {
  display: block;
}

.hero--conteúdo h1 {
  color: white;
  font-size: 8vw;
  padding-top: 10vw;
  text-align: center;
}

.hero--conteúdo p {
  color: white;
  display: block;
  text-align: center;
  font-size: 2.5vw;
}

.hero--conteúdo i {
  color: white;
  display: block;
  font-size: 6vw;
  padding-top: 20px;
}

.artigos--header {
  font-size: 4vw;
  margin-top: 5vw;
  text-align: center;
}

.artigos--headerHr {
  background-color: black;
  height: 1px;
  margin: 5vw auto 0px;
  width: 80vw;
}

.artigoContainer {
  padding: 5vw 15vw 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4vw;
}

.artigoItem {
  width: 25vw;
  font-size: 1vw;
}

.artigoItem--textos {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-top: 0.5vw;
}

.textos--dataHora {
  font-size: 1.5vw;
  font-family: 'Raleway';
}

.artigoItem img {
  height: 35vw;
  width: 25vw;
  object-fit: cover;
}

.artigoItem h2 {
  font-size: 3vw;
}

.artigoItem p {
  color: rgb(0, 0, 0);
  font-family: 'Raleway';
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2vw;
  text-align: justify;
}

.artigoItem--linhaInferior {
  background-color: rgb(94, 94, 94);
  height: 1px;
  margin: 1vw auto 0vw;
  width: 100%;
}

footer {
  background-color: #525252;
  font-family: 'Raleway';
  margin-top: 2vw;
  padding: 3vw 2vw;
}

footer h3 {
  color: white;
  font-weight: 500;
}

footer p {
  color: white;
}

footer a {
  color: rgb(251, 110, 251);
}